.modal-width{
  max-width:700px;
}

.datepicker-label{
  width: 20%;
  justify-content: left;
}

.overlayStyle{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1040;/*  Make sure the overlay is on top of the static navbar, whose z-index is 1030.*/
}

.modalStyle{
  position: relative;
  display: block;
  top: 75px; /* Display the modal below the static navbar.*/
  overflow: visible;
}

.footer-content{
  justify-content: center;
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  vertical-align: middle;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 25%;
}

.blinking{
  animation:blinkingText 1.6s infinite;
}

.outter-badge {
  position: relative;
}

.inner-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}
@keyframes blinkingText{
  0%{   color: #CCCCCC; }
  10%{  color: #EEEED1; }
  50%{  color: #FFFF00; }
  51%{  color: #FFFF00; }
  100%{ color: #CCCCCC; }
}

ul.sco-job-group-forest {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}

ul.sco-job-group-forest ul.sco-job-group-forest {
  padding-left: 1rem;
}

.sco-job-group {
  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: .5rem;
  margin-bottom: .25rem;
  width: 100%;
}

.sco-job-group-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
