/* Container for job group explorer, taking the full height with its own Y-axis scrollbar. */
.sco-job-group-explorer {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: .5rem;  /* Leave space for the scroll bar */
}

ul.sco-job-group-forest {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}

ul.sco-job-group-forest ul.sco-job-group-forest {
  padding-left: 1rem;
}

.sco-job-group {
  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: .5rem;
  margin-bottom: .25rem;
  width: 100%;
}

.sco-job-group-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  right: 0;
}

.modal.fade .modal-dialog{
  -webkit-transition:-webkit-transform 0.3s ease-out;
  transition:-webkit-transform 0.3s ease-out;
  transition:transform 0.3s ease-out;
  transition:transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform:translate(500px, 0);
  transform:translate(500px, 0)
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/* ----- MODAL STYLE ----- */
.right .modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}
