.flex-container {
  display: flex;
  margin: 10px;
  padding: 20px;
}


.flex-container > div {
  margin: 10px;
  padding: 20px;
}


.react-datepicker-wrapper {
  width: 100%;
}

.full-row-sep{
  background-color: mediumpurple;
  color: ghostwhite;
}
.full-row-sep-job{
  background-color: rebeccapurple;
  color: ghostwhite;
}

.chart-div {
  padding: 30px 2px 30px 4px;
}


.h-chart-div {
  height: 1400px;
  width: 100%;
}

.ColumnLosser {
  display: table-cell;
  color: white;
  background-color: red;
  background: linear-gradient(to right, red, white);
}
.ColumnGainer {
  display: table-cell;
  color: white;
  background-color: green;
  background: linear-gradient(to right, green, white);
}

.logCheckbox{
  zoom:2;
  color:lightskyblue;
  margin: 5px;
  padding: 10px;
  text-align: end;
}
.flex-container {
  display: flex;
}
.flex-container > div {
  margin-left: 1px;
  padding: 5px;
  width: 100%;
}

.externalLink{
  color:palevioletred;
  box-sizing: content-box;
  width:100%;
  font-size: 140px;
  background-color: white;
  border-radius: 25px;
}

.form-control-range {
  display: block;
  width: 100%;
}


datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

option {
  padding: 0;
}


