.file-select-dropzone {
  border: 2px dashed grey;
  padding: 10px;
  margin-bottom: 1rem;
}

.file-select-dropzone.disabled {
  color: #b7b7b7;
  border-color: #808080;
  background-color: #fafafa;
}

.file-input {
  min-width: 0;
  width: 0;
  height: 0;
  opacity: 0;
  color: transparent;
}

section {
  border: 2px solid;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}