/* Container for job group explorer, taking the full height with its own Y-axis scrollbar. */
.sco-job-group-explorer {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: .5rem;  /* Leave space for the scroll bar */
}

ul.sco-job-group-forest {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}

ul.sco-job-group-forest ul.sco-job-group-forest {
  padding-left: 1rem;
}

.sco-job-group {
  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: .5rem;
  margin-bottom: .25rem;
  width: 100%;
}

.sco-job-group-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}