/**
 * iPhone-style app link with an icon and a title.
 */

a.app-link {
  display: block;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

a.app-link > .app-link-icon {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  font-size: 4rem;
  width: 8rem;
  height: 8rem;
  border-radius: 2rem;
  background-color: #ddd;
  color: #fff;
  transition: all .1s linear;
}

a.app-link:hover > .app-link-icon {
  padding: 1.5rem;
  font-size: 5rem;
}

a.app-link > .app-link-icon.red {
  background-color: #F44336;
}

a.app-link > .app-link-icon.pink {
  background-color: #E91E63;
}

a.app-link > .app-link-icon.purple {
  background-color: #9C27B0
}

a.app-link > .app-link-icon.deep-purple {
  background-color: #673AB7;
}

a.app-link > .app-link-icon.indigo {
  background-color: #3F51B5;
}

a.app-link > .app-link-icon.blue {
  background-color: #2196F3;
}

a.app-link > .app-link-icon.light-blue {
  background-color: #03A9F4;
}

a.app-link > .app-link-icon.cyan {
  background-color: #00BCD4;
}

a.app-link > .app-link-icon.teal {
  background-color: #009688;
}

a.app-link > .app-link-icon.green {
  background-color: #4CAF50;
}

a.app-link > .app-link-icon.light-green {
  background-color: #8BC34A;
}

a.app-link > .app-link-icon.lime {
  background-color: #CDDC39;
}

a.app-link > .app-link-icon.yellow {
  background-color: #FFEB3B;
}

a.app-link > .app-link-icon.amber {
  background-color: #FFC107;
}

a.app-link > .app-link-icon.orange {
  background-color: #FF9800;
}

a.app-link > .app-link-icon.deep-orange {
  background-color: #FF5722;
}

a.app-link > .app-link-icon.brown {
  background-color: #795548;
}

a.app-link > .app-link-icon.gray {
  background-color: #9E9E9E;
}

a.app-link > .app-link-icon.blue-gray {
  background-color: #607D8B;
}

a.app-link > .app-link-title {
  display: block;
  margin-top: 1rem;
  color: #666;
  font-weight: bolder;
}

a.app-link:hover > .app-link-title {
  color: inherit;
}
